version: 2.1

jobs:
  build:
    working_directory: ~/circleci-python
    docker:
      - image: "circleci/python:3.9.6"
    steps:
      - checkout
      - run: python3 manage.py runserver
  test:
    working_directory: ~/circleci-python
    docker:
      - image: "circleci/python:3.9.6"
    steps:
      - checkout
      - run: python3 manage.py test

workflows:
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build